* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* COLORS */
    /* color for page background */
    --clr-background-main: #EEF0F4;
    /* for sections like education experience ... */
    --clr-background-section: #FFFFFF;
    --clr-preview-brand: #0e3b53;
    --clr-preview-section-title-bg: #ebf0f3;

    --webkit-shadow: 0px 0px 15px -5px #000000; 
    --shadow: 0px 0px 15px -5px #000000;

    --border-radius: 15px;


    /* FONT SIZES */
    /* Extra Small: For footer text (rmath ©), tiny labels */
    --fs-xs: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem); 
    
    /* Small: For secondary text, minor button text */
    --fs-sm: clamp(0.9rem, 0.8rem + 0.3vw, 1rem);
    
    /* Base: Your default text, standard inputs, standard buttons */
    --fs-base: clamp(1rem, 0.95rem + 0.25vw, 1.3rem);
    
    /* Large: Editor section headers ("General Information", "Save your resume") */
    --fs-lg: clamp(1.25rem, 1.2rem + 0.5vw, 1.7rem);
    
    /* Extra Large: Main branding/titles ("CV GENERATOR") */
    --fs-xl: clamp(1.5rem, 1.3rem + 1vw, 1.9rem);
}

body {

    font-family: "Roboto", sans-serif, system-ui, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    background-color: var(--clr-background-main);

    height: 100vh;
}