.form-section-container {

    background-color: var(--clr-background-section);
    border-radius: var(--border-radius);
    -webkit-box-shadow: var(--webkit-shadow);
    box-shadow: var(--shadow);

    width: 100%;

    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-header {

    display: flex;
    justify-content: space-between; 
    align-items: center;

    button {

        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        color: inherit;
        cursor: pointer;

        font-size: var(--fs-lg);
        font-weight: 800;
    }
}

.form-title-group {

    display: flex;
    align-items: center;
    gap: 0.75rem; 

    h2 {

        font-size: var(--fs-lg);
    }

    svg {

        flex-shrink: 0;
        font-size: var(--fs-lg);
    }
}