.form-section-container {

    background-color: var(--clr-backround-section);
    border-radius: var(--border-radius);
    -webkit-box-shadow: var(--webkit-shadow);
    box-shadow: var(--shadow);

    width: 100%;
}