aside.sidebar-container {

    text-align: center;

    background-color: var(--clr-backround-section);

    -webkit-box-shadow: var(--webkit-shadow);
    box-shadow: var(--shadow);

    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17rem;

    padding: 1rem;
}

.sidebar-container > div {

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.7rem;
}

.sidebar-container img {

    width: 85px;
    height: auto;
}

.sidebar-container h1 {

    text-transform: uppercase;
    font-size: var(--fs-xl);
}

.sidebar-container p {

    font-size: var(--fs-base);
}

.github-icon {

    font-size: var(--fs-lg);
}